/* Stylings for May 9th Project MUSIC PAGE */

* {           
	margin: 0;
	padding: 0;
	
}


html {
	margin: 0;
	background-color: black;
}


header {
	background-color: #008080;
	margin-bottom: 1em;
}


#nav_menu ul {
	list-style-type: none;
	position: relative;
	margin: 1em;
	padding-left: 10em;
	display: none;
}


h2 {
	background-color: #008080;
	border: 2px solid black;
	text-align: center;
	
}

p {
	
	text-align: center;
}

body {
	margin: auto;
	width: 85%;
	background-color:  #b37700;
	
}

footer {
	border: 2px solid black;
	background-color: #008080;
}


#copyright {
	clear: both;
	text-align: center;
	
}

@media only screen and (max-width: 320px, max-height: 480px) {
	#nav_menu {
		display: none;
	}
	
	main {
		font-size: 90%;
		width: 100%;
	}
	
	/*#sidebarA {
		float: none;
		width: 100%;
	}*/
	
	body {
		width: 100%;
		border: none;
		
	}
	
	html {
		
		width: 100%;
	}
	
}
